<html>
<head>
    
 

<meta charset="UTF-8">
<title>index</title>

	<link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>

   
  
        
            
<div class= "add" >

        <div class="formularioMtn">

                <form  >
                <div clas="row">
                <div class="col">
                      <br>
                        <label style="font-size: 20px; color: rgb(27, 73, 240);" >Registrar mantenimiento de vehículo</label>
                    <br>
                    <br>

                     <div class="row ">   
                   <div class="col "> 
                     <label >Usuario: {{user.username}}</label>
                    <input type="text" class="form-label-lg border rounded"  name="user_id" id="id_user" value=" {{user.id}} " autofocus readonly>
                    </div>  
                
                    </div>

                    <div class="row">
                     <div class="col">
                    <br>
                    <label ><Span class = "rojo"> * </span>Vehículo:</label>
              
                   <select class="form-select form-select-sm "  name="vehiculo" id="vehiculo_id">

                             
                                <option value="">--Vehículo-</option>

                              {{#each vehiculos}} 

                                <option value="{{id_vehiculo}}">{{placa}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="vehiculoMessage"></div>
                </div>
                    <br>
                    

                </div>
                
                <br>
                <div class="row">
                <div class="col">
                    <label ><Span class = "rojo"> * </span>Tipo de mantenimiento que se realizará al vehículo:</label>

                   <select class="form-select form-select-sm "  name="mantenimiento_tipo" id="mantenimiento_id">

                             
                                <option value="">--Tipo de mantenimiento-</option>

                              {{#each mantenimiento_tipo}} 

                                <option value="{{id}}">{{tipo}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="mantenimientoMessage"></div>
                </div>
                </div>
              
                <br>

                <div class="col">

                    <label ><Span class = "rojo"> * </span>Conductor del vehículo:</label>
                   
                          <select class="form-select form-select-sm "  name="conductor" id="conductor_id">

                             
                                <option value="">-- Conductor--</option>

                              {{#each conductor}} 

                                <option value="{{id}}">{{nombre}}</option>
                                
                                 {{/each}}
                     </select>
                 <div class="message" id="conductorMessage"></div>

                </div>

                </div>
               
                
                <br>
                <div class="row">
                
                <div class="col">

                    <label ><Span class = "rojo"> * </span>Cuenta a la que pertenece el vehículo:</label>
                    <br>
                
                    
                       <select class="form-select form-select-sm "  name="cuentas" id="cuenta_id">

                            <option value="">-- Cuentas--</option>

                            {{#each cuentas}} 

                                
                                <option value="{{id}}">{{nombre}}</option>
                          
                            {{/each}}
                     </select>

                         <div class="message" id="cuentaMessage"></div>
                    <br>
                
                       <label ><Span class = "rojo"> * </span>Fecha de mantenimiento:</label>
                    <br>

                     <form>

                        <input class="form-control" type="date" name="fecha" id="fecha_id" placeholder="Selecciona una fecha">
                     </form>

                         <div class="message" id="fechaMessage"></div>


                        
                    <br>
                     <label >Descripción del mantenimiento a realizar:</label>
                    <br>
                    <textarea  type="text" class="col-lg-8 border rounded" name="descripcion" id="desc_id" placeholder="Tipo de vehículo" autofocus ></textarea>

                <div class="message" id="descripcionMessage"></div>
                </div>
               </form>

               
                <br>
                </div>
                    <br>
                    <br>
               
                <div class="form-g">

                  <button  class="btn btn-primary" id="btnSave">

                        Guardar
                    </button>

                

                

                <button class="btn btn-primary" id="btnCancel">Cancelar</button>
                
                    <br>
                     <br>
                    <Span class = "rojo">* </span>
                    <label class="text-secondary" >Campos obligatorios</label>

                    <br>
                    <br>
                </div>
  </div>
</div>
       
 <div class="imgMnt">

                    <img src="/img/mantenimiento.png" class="img-fluid ">

    </div>
            
</div>
    



<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
         <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
         <script src="js/bootstrap-datetimepicker.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    e.preventDefault();

                    const account= {

                        
                        user_id: $("#id_user").val(),
                        vehiculo: $("#vehiculo_id").val(),
                        mantenimiento_tipo:  $("#mantenimiento_id").val(),
                        conductor:  $("#conductor_id").val(),
                        cuentas:  $("#cuenta_id").val(),
                        fecha:  $("#fecha_id").val(),
                        descripcion:  $("#desc_id").val(),
                 
                    }
                    
                    $.post( "/atributos/addMantenimiento", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/crud';

                        }else{
                            
                           
                            $("#vehiculoMessage").text(data.errors.vehiculo || "")
                            $("#mantenimientoMessage").html(data.errors.mantenimiento_tipo || "")
                            $("#conductorMessage").html(data.errors.conductor || "")
                            $("#cuentaMessage").html(data.errors.cuentas|| "")
                            $("#descripcionMessage").html(data.errors.descripcion || "")
                             $("#fechaMessage").html(data.errors.fecha|| "")
                         
                        }
                    });
                
                });

            });


        </script>	



                </script>	

{{!-- botón cancelar --}}
         <script>
           
            $( document ).ready(function() {

                $( "#btnCancel" ).click(function(e) {

                    e.preventDefault();
                     
        
                   window.location.href = '/profile';
                
                });

            });

            
        </script>	


        <script>


            $(function () {
             $('#picker').datetimepicker();
         });
      </script>

</body>
</html>
