<html>
<head>
    
 

<meta charset="UTF-8">
<title>index</title>

	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

   
  
        
            
<div class= "add" >

        <div class="formulario">

                <form  >
                <div clas="row">
                <div class="col">
                      <br>
                        <label style="font-size: 20px; color: rgb(27, 73, 240);" >Agregar un vehículo nuevo</label>
                    <br>
                    <br>
                     <label>Tipo de vehículo:</label>

                     <select class="form-select form-select-sm " style="width:auto" name="tipo" id="tipo_id">

                             
                                <option value="">-- Tipo--</option>

                              {{#each vehiculo_tipo}} 

                                <option value="{{id}}">{{tipo}}</option>
                                
                                 {{/each}}
                     </select>

                <div class="message" id="tipoMessage"></div>
                </div>
                     <div class="col">
                        <br>
                 <label >Placas: <Span class = "rojo"> * </span></label>
                   
                    <input type="text"  class=" border rounded"  name="placa" id="placa_id" placeholder="nombre" autofocus >
                    
                <div class="message" id="placaMessage"></div>
                    </div>

                </div>
                <br>
                <br>
                <div class="row">
                <div class="col">
                    <label >Marca:</label>

                   <select class="form-select form-select-sm "  name="brand" id="brand_id">

                             
                                <option value="">--Marca-</option>

                              {{#each brand}} 

                                <option value="{{id}}">{{nombre}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="brandMessage"></div>
                </div>

                <br>
                <br>

                <div class="col">

                    <label >Modelo:</label>
                   
                          <select class="form-select form-select-sm " style="width:auto" name="model" id="model_id">

                             
                                <option value="">-- Modelo--</option>

                              {{#each modelo}} 

                                <option value="{{id}}">{{nombre}}</option>
                                
                                 {{/each}}
                     </select>
                 <div class="message" id="modelMessage"></div>

                </div>

                </div>
                <br>
                <br>
                <div class="row">
                <div class="col">
                    <label >Color:</label>
                  <select class="form-select form-select-sm "  name="color" id="color_id">

                            <option value="">-- Color--</option>

                            {{#each color}} 

                                
                                <option value="{{id}}">{{color}}</option>
                          
                            {{/each}}
                     </select>
                        <div class="message" id="colorMessage"></div> 
                     
                </div>
                
                 <br>
                 <br>
               
                <div class="col">
                    <label >Año:</label>

                      <select class="form-select form-select-sm " style="width:auto" name="year" id="year_id">

                            <option value="">--Año--</option>

                            {{#each year}} 

                                
                                <option value="{{id}}">{{nombre}}</option>
                          
                            {{/each}}
                     </select>
                 <div class="message" id="yearMessage"></div>
                    
                     
                </div>

                </div>
                <br>
                <br>
                <div class="row">
                <div class="col">
                    <label >Status del vehículo:</label>
                    
                       <select class="form-select form-select-sm "  name="vehiculo_status" id="status_id">

                            <option value="">-- Status--</option>

                            {{#each vehiculo_status}} 

                                
                                <option value="{{id}}">{{vehiculo_status}}</option>
                          
                            {{/each}}
                     </select>
                        <div class="message" id="statusMessage"></div> 
               

                <br>
                <br>

                 </div>

                <div class="col">

                    <label >Asignar vehículo a cuenta:</label>
                    <br>
                
                    
                       <select class="form-select form-select-sm " style="width:auto" name="cuenta" id="cuenta_id">

                            <option value="">-- Cuentas--</option>

                            {{#each cuentas}} 

                                
                                <option value="{{id}}">{{nombre}}</option>
                          
                            {{/each}}
                     </select>

                         <div class="message" id="cuentaMessage"></div>
               </form>

               
                 <br>
                </div>
                 </div>

                <br>
                    <div class="form-g">

                    <button  class="btn btn-primary" id="btnSave">

                        Guardar
                    </button>

                

                

                <button class="btn btn-primary" id="btnCancel">Cancelar</button>

               



                    <br>
                    <br>
                </div>
           
                    <Span class = "rojo">* </span>
                    <label class="text-secondary" >Campos obligatorios</label>

                    <br>
                    <br>
     
            </div>
       
 <div class="imgAuto">

                    <img src="/img/vehiculo.png" class="img-fluid ">

    </div>
            
</div>
    



<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    e.preventDefault();

                    const account= {

                        tipo1_id:  $("#tipo_id").val(),
                        brand:  $("#brand_id").val(),
                        model:  $("#model_id").val(),
                        year:  $("#year_id").val(),
                        color:  $("#color_id").val(),
                        vehiculo_status:  $("#status_id").val(),
                        cuenta:  $("#cuenta_id").val(),
                        placa:  $("#placa_id").val()
                        
                        
                    }
                    
                    $.post( "/atributos/addVehiculo", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/crud';

                        }else{
                            
                            $("#tipoMessage").text(data.errors.tipo1_id|| "")
                            $("#brandMessage").html(data.errors.brand || "")
                            $("#modelMessage").html(data.errors.model || "")
                            $("#yearMessage").html(data.errors.year || "")
                            $("#colorMessage").html(data.errors.color || "")
                            $("#statusMessage").html(data.errors.vehiculo_status || "")
                            $("#cuentaMessage").html(data.errors.cuenta|| "")
                            $("#placaMessage").html(data.errors.placa|| "")
                        }
                    });
                
                });

            });


        </script>	


                </script>	

{{!-- botón cancelar --}}
         <script>
           
            $( document ).ready(function() {

                $( "#btnCancel" ).click(function(e) {

                    e.preventDefault();
                     
        
                   window.location.href = '/profile';
                
                });

            });

             

        </script>	
</div>
</body>
</html>
