<html>


        <head>
        <meta charset="UTF-8">
        <title>index</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

</script>

<link rel="stylesheet" href="/css/styles.css">

</head>

        </head>


                <script type="text/javascript">

                function ConfirmDelete(){


                    var respuesta= confirm("Seguro?")

                    if(respuesta== true)

                    {

                        return trues;
                    }else

                    {

                        return false
                    }
                }



                </script>

    <body>     
      
        <div class="datatable">


            <div class="box01" >

                <div class="agregarCon" >  

                    <form >
                    {{#if user.is_admin}}
                    <button  class="btn btn-primary"  type="submit" formaction="/atributos/Conductor/">Agregar Conductor</button>
                    {{/if}}

                    </form>
                </div>
            
            </div>

         <br>

         <br>  

            <div class="table-responsive">

                    <table id="datatable" class="table table-bordered display nowrap" cellspacing="0" width="100%"  >

                        <thead>

      
                
                            <th>Mantenimiento de vehículos</th>
                            <tr>
                                <th>Vehículo</th>
                                <th>Mantenimiento</th>
                                <th>proveedor</th>
                                <th>Fecha de realización</th>
                             
                                
                            

                             </tr>
                        </thead>
            

                        <tbody class="tbody"> 
                    
                            {{#each detConductor}}
                            
                            <tr>
                                
                        
                                <td>{{cta}}</td>
                                
                                <td>{{nombre}}</td>

                                <td>{{apellido}}</td>

                                <td>{{licencia}}</td>
                               
                        

                            <td>

                            <a href="/atributos/detconductor/{{id}}" class="btn btn-outline-primary btn-sm">Suspender</a>
                        
                                

                        {{!-- {{<a href="/crud/resetPass/{{../user.id}}">Editar usuario</a>}} --}}   

                            
                            
                            </td>

                            </tr>

                            {{/each}}
                
                        </tbody>

            

                    </table>

   
                    {{#each detConductor}}


    
                    {{else}}


                    <div>

                    

                            <p>***No hay conductores a esta cuenta***</p>

                    </div>
        
   
                        
                     {{/each}}


                        <script>src="https://code.jquery.com/jquery-3.5.1.js"</script>
                        <script>src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"</script>
                        <script>src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"</script>

                <script>
                    $(document).ready(function () {
                
                    $('#datatable').DataTable({
                        "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }

                    }


                    );
                });
                    



                 </script> 
                            
            </div>

         </div>
        
    </body> 
 </html>
