<html>


        <head>
        <meta charset="UTF-8">
        <title>index</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

</script>

<link rel="stylesheet" href="/css/styles.css">

</head>

       


                <script type="text/javascript">

                function ConfirmDelete(){


                    var respuesta= confirm("Seguro?")

                    if(respuesta== true)

                    {

                        return trues;
                    }else

                    {

                        return false
                    }
                }



                </script>

    <body>     


            

           <!-- Modal -->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">

    <!-- Contenido del modal-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Detalle del vehículo</h4>
      </div>
      <div class="modal-body">
        

       <table id="datatable" class="table table-bordered display nowrap" cellspacing="0" width="100%"  >

                        <thead>

      
                
                            <th>Detalle del vehículo</th>
                            <tr>
                                 <th>Kilometraje</th>
                                <th>Tipo</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                               
                                
                            

                             </tr>
                        </thead>
            

                        <tbody class="tbody"> 
                    
                            {{#each detModal}}
                            
                            <tr>
                                
                        
                                <td>{{rg}}</td>
                                
                                <td>{{vh}}</td>

                                <td>{{brand}}</td>

                                <td>{{model}}</td>

                                
                                       </tr>

                            {{/each}}
                
                        </tbody>

            

                    </table>

            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
                    
      
    <div class="datatable">

   



            <div class="box01" >

                <div class="agregarCon" >  

                    <form >
                    {{#if user.is_admin}}
                    <button  class="btn btn-primary"  type="submit" formaction="/atributos/addVehiculo/">Agregar vehículo</button>
                    {{/if}}

                    </form>
                </div>
            
            </div>

         <br>

         <br>  

            <div class="table-responsive">

                    <table id="datatable" class="table table-bordered display nowrap" cellspacing="0" width="100%"  >

                        <thead>

      
                
                            <th>Vehículos por cuenta</th>
                            <tr>
                                 <th>Cuenta</th>
                                <th>Tipo</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Año</th>
                                <th>Color</th>
                                <th>Placa</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                               
                                
                            

                             </tr>
                        </thead>
            

                        <tbody class="tbody"> 
                    
                            {{#each detVehiculos}}
                            
                            <tr>
                                
                        
                                <td>{{cta}}</td>
                                
                                <td>{{vh}}</td>

                                <td>{{brand}}</td>

                                <td>{{model}}</td>

                                <td>{{year}}</td>

                                <td>{{color}}</td>

                                <td>{{pl}}</td>
                            
                                <td>{{st}}</td>

                                <td >

                                <a class="modal1 btn btn-outline-primary btn-sm"  data-toggle="modal" data-target="#Modal" >Detalle</a>
                                <a href="/atributos/editVehiculo/{{id_vehiculo}}" class="btn btn-outline-primary btn-sm">Editar</a>
                                
                        
          
                        {{!-- {{<a href="/crud/resetPass/{{../user.id}}">Editar usuario</a>}} --}}   

                            
                            
                            </td>

                            </tr>

                            {{/each}}
                
                        </tbody>

            

                    </table>



   
                    {{#each detVehiculos}}


    
                    {{else}}


                    <div>

                

                            <p>***No hay vehículos registrados***</p>

                    </div>
        
   
                        
                     {{/each}}



                   



                  
                        <script>src="https://code.jquery.com/jquery-3.5.1.js"</script>
                        <script>src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"</script>
                        <script>src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"</script>

                <script>
                    $(document).ready(function () {
                
                    $('#datatable').DataTable({
                        "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }

                    }


                    );
                });


                 </script> 

          

          <script>

            
          </script>

                
            </div>

         </div>
        
    </body> 
 </html>
