<html>
<head>
    
 

<meta charset="UTF-8">
<title>index</title>

	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div>
    <div >

        <div >
            
            <div >

                 <h3>Agregar una cuenta nueva</h3>

                 <br>
                 <br>

               


                <form  class= "add"  >

                <div class="form-g">
                    <br>
                    <br>
                     <label >Nombre de la cuenta:</label>
                    <input type="text" class="text" name="nombre" id="accountName" placeholder="nombre" autofocus >
                <div class="message" id="nombreMessage"></div>

                </div>
                <br>
                <br>
                <div class="form-g">
                    <label >Plan contratado:</label>
                   <select name="plan_id" id="plan_id">

                             
                                <option value="">--Plan--</option>

                              {{#each plan}} 

                                <option value="{{id_plan}}">{{plan}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="planMessage"></div>
                </div>
                <br>
                <br>
                <div class="form-g">

                    <label >Status:</label>
                   
                          <select name="status_id" id="status_id">

                             
                                <option value="">-- Status--</option>

                              {{#each status}} 

                                <option value="{{id}}">{{nombre}}</option>
                                
                                 {{/each}}
                     </select>
                 <div class="message" id="statusMessage"></div>

                </div>
                <br>
                <br>
                <div class="form-g">
                    <label >País:</label>

                       <select name="pais_id" id="pais_id">

                            <option value="">--País--</option>

                            {{#each pais}} 

                                
                                <option value="{{id}}">{{nombre}}</option>
                          
                            {{/each}}
                     </select>
                 <div class="message" id="paisMessage"></div>
                </div>
                 <br>
                 <br>
                <div class="form-g">
                    <label >Zona horaria:</label>
                    
                       <select name="timezone_id" id="timezone_id">

                            <option value="">-- Zona horaria--</option>

                            {{#each timezones}} 

                                
                                <option value="{{id_timezone}}">{{timezone}}</option>
                          
                            {{/each}}
                     </select>
                        <div class="message" id="timezoneMessage"></div> 
                </div>

                
                <br>
                <br>

                <div class="form-g">
                    <label >Asignar cuenta a usuario:</label>
                    
                       <select name="user_id" id="user_id">

                            <option value="">-- Usuarios--</option>

                            {{#each usercta}} 

                                
                                <option value="{{id}}">{{username}}</option>
                          
                            {{/each}}
                     </select>
                         <div class="message" id="userMessage"></div>
                </div>
                <br>
                <br>
                <div class="form-g">

                    <button class="boton" id="btnSave">

                        Guardar
                    </button>
                    <br>
                    <br>
                </div>

                </form>

    

            </div>



        </div>


    </div>



</div>
<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    e.preventDefault();

                    const account= {

                        nombre: $("#accountName").val(),
                        plan_id:  $("#plan_id").val(),
                        status_id:  $("#status_id").val(),
                        pais_id:  $("#pais_id").val(),
                        timezone_id:  $("#timezone_id").val(),
                        user_id:  $("#user_id").val()
                    }

                    console.log(account)
                    $.post( "/crud/add", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/crud';

                        }else{
                            
                            $("#nombreMessage").text(data.errors.nombre || "")
                            $("#planMessage").html(data.errors.plan_id || "")
                            $("#statusMessage").html(data.errors.status_id || "")
                            $("#paisMessage").html(data.errors.pais_id || "")
                            $("#timezoneMessage").html(data.errors.timezone_id || "")
                            $("#userMessage").html(data.errors.user_id || "")
                        }
                    });
                
                });

            });

        

            

        

            

        </script>	
</body>
</html>
