<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>


<div>
    <div >

        <div >
            
            <div >

                 <h3>Agregar una cuenta nueva</h3>

                 <br>
                 <br>

                <form  class= "add" action= "/crud/add" method="POST">

                <div class="form-g">
                    <br>
                    <br>
                     <label >Nombre de la cuenta:</label>
                    <input type="text" class="text" name="nombre" placeholder="nombre" autofocus required>

                </div>
                <br>
                <br>
                <div class="form-g">
                    <label >Plan contratado:</label>
                   <select name="plan_id" id="plan_id">

                             
                                <option value="">--Plan--</option>

                              {{#each plan}} 

                                <option value="{{id_plan}}">{{plan}}</option>
                                
                                 {{/each}}
                     </select>

                </div>
                <br>
                <br>
                <div class="form-g">

                    <label >Status:</label>
                   
                          <select name="status_id" id="status_id">

                             
                                <option value="">-- Status--</option>

                              {{#each status}} 

                                <option value="{{id}}">{{nombre}}</option>
                                
                                 {{/each}}
                     </select>


                </div>
                <br>
                <br>
                <div class="form-g">
                    <label >País:</label>

                       <select name="pais_id" id="pais_id">

                            <option value="">--País--</option>

                            {{#each pais}} 

                                
                                <option value="{{id}}">{{nombre}}</option>
                          
                            {{/each}}
                     </select>

                </div>
                 <br>
                 <br>
                <div class="form-g">
                    <label >Zona horaria:</label>
                    
                       <select name="timezone_id" id="timezone_id">

                            <option value="">-- Zona horaria--</option>

                            {{#each timezones}} 

                                
                                <option value="{{id_timezone}}">{{timezone}}</option>
                          
                            {{/each}}
                     </select>
                        
                </div>

                
                <br>
                <br>

                <div class="form-g">
                    <label >Asignar cuenta a usuario:</label>
                    
                       <select name="user_id" id="user_id">

                            <option value="">-- Usuarios--</option>

                            {{#each usercta}} 

                                
                                <option value="{{id}}">{{username}}</option>
                          
                            {{/each}}
                     </select>
                        
                </div>
                <br>
                <br>
                <div class="form-g">

                    <button class="boton">

                        Guardar
                    </button>
                    <br>
                    <br>
                </div>

                </form>

            </div>



        </div>


    </div>


</div>
</html>
