<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

    
    
    <div >
    <div >

        <div >
            
            <div >

                <h3>Editar cuenta</h3>

                 <br>
                 <br>

                <form  class = "edit" action= "/crud/edit/{{cuentas.id}}" method="POST">

                <div class="form-g">
                    <br>
                    <label >Nombre de la cuenta:</label>
                    <input type="text" value="{{cuentas.nombre}}" class="text" name="nombre" placeholder="nombre" autofocus>

                </div>

                <br>
                <div class="form-g">
                    <label >Plan contratado:</label>
                    <select name="plan_id" id="plan_id">

                             
                                <option value="">-- Plan contratado--</option>

                              {{#each plan}} 

                                <option value="{{id_plan}}" {{#if selected}}selected{{/if}}>{{plan}}</option>
                                
                                 {{/each}}
                     </select>

                </div>
                <br>
                <div class="form-g">

                    <label >Status:</label>
                     <select name="status_id" id="status_id">

                             
                                <option value="">-- Status--</option>

                              {{#each status}} 

                                <option value="{{id}}" {{#if selected}}selected{{/if}}>{{nombre}}</option>
                                
                                 {{/each}}
                     </select>


                </div>
                <br>
                <div class="form-g">
                    <label >País:</label>
                       <select name="pais_id" id="pais_id">

                             
                                <option value="">-- Pais--</option>

                              {{#each pais}} 

                                <option value="{{id}}" {{#if selected}}selected{{/if}}>{{nombre}}</option>
                                
                                 {{/each}}
                     </select>

                </div>
                 <br>
                <div class="form-g">
                    <label >Zona horaria:</label>
                      <select name="timezone_id" id="timezone_id">

                             
                                <option value="">-- timezone--</option>

                              {{#each timezones}} 

                                <option value="{{id_timezone}}" {{#if selected}}selected{{/if}}>{{timezone}}</option>
                                
                                 {{/each}}
                     </select>

                <br>
                <br>
                <div class="form-g">

                    <button class="boton">

                        Guardar
                    </button>

                

                </form>

                <button type="submit" formaction="./crud">Cancelar</button>
                    <br>
            </div>



        </div>


    </div>


</div>
</html>
