<div class="container">
    <div class="row">

        <div class="column">
            
            <div class="card">

                <form action= "/crud/edit/{{cuentas.id}}" method="POST">

                <div class="form-g">
                    <label >Nombre de la cuenta:</label>
                    <input type="text" value="{{cuentas.nombre}}" class="text" name="nombre" placeholder="nombre" autofocus>

                </div>

                <br>
                <div class="form-g">
                    <label >Plan contratado:</label>
                    <input type="text" value="{{cuentas.plan}}" class="text1" name="plan" placeholder="plan" autofocus>

                </div>
                <br>
                <div class="form-g">

                    <label >Status:</label>
                    <input type="text" value="{{cuentas.status_c}}" class="text1" name="status_c" placeholder="Status" autofocus>

                </div>
                <br>
                <div class="form-g">
                    <label >País:</label>
                    <input type="text"  value="{{cuentas.pais}}" class="text1" name="pais" placeholder="País" autofocus>

                </div>
                 <br>
                <div class="form-g">
                    <label >Zona horaria:</label>
                    <input type="text"  value="{{cuentas.timezone}}" class="text1" name="timezone" placeholder="Zona horaria" autofocus>

                <br>
                <br>
                <div class="form-g">

                    <button class="boton">

                        Guardar
                    </button>

               

                </form>

                <button type="submit" formaction="./crud">Cancelar</button>

            </div>



        </div>


    </div>


</div>

