<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
     <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>

    
    
    
    <div class="add" >

         <div class="formularioEdit">
            
            

                <form  action= "/crud/edit/{{cuentas.id}}" method="POST">

                <div class="row">
              
                    <label style="font-size: 20px; color: rgb(27, 73, 240);" >Editar cuenta</label>
                    <br>
                    <br>
                    <label ><Span class = "rojo"> * </span>Nombre de la cuenta:</label>
                    
                    <input type="text" class="form-label-lg border rounded" id="accountName" 
                    value="{{cuentas.nombre}}" class="text" name="nombre" placeholder="nombre" autofocus>

                    <div class="message" id="nombreMessage"></div>

          
                </div>
                <br>
                <div class="row">
                 <div class="col"> 
                    <label ><Span class = "rojo"> * </span>Plan contratado:</label>
                    
                    <select class="form-select form-select-sm " style="width:auto" name="plan_id" id="plan_id">

                             
                                <option value="">-- Plan contratado--</option>

                              {{#each plan}} 

                                <option value="{{id_plan}}" {{#if selected}}selected{{/if}}>{{plan}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="planMessage"></div>
                </div>
                <br>
                <div class="col">

                    <label >Status:</label>
                    <Span class = "rojo"> * </span>
                     <select class="form-select form-select-sm " style="width:auto" name="status_id" id="status_id">

                             
                                <option value="">-- Status--</option>

                              {{#each status}} 

                                <option value="{{id}}" {{#if selected}}selected{{/if}}>{{nombre}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="statusMessage"></div>

                </div>

                </div>  
                <br>
                <div class="form-g">
                    <label >País:</label>
                    <Span class = "rojo"> * </span>
                       <select class="form-select form-select-sm " style="width:auto" name="pais_id" id="pais_id">

                             
                                <option value="">-- Pais--</option>

                              {{#each pais}} 

                                <option value="{{id}}" {{#if selected}}selected{{/if}}>{{nombre}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="paisMessage"></div>
                </div>
                 <br>
                <div class="form-g">
                    <label >Zona horaria:</label>
                    <Span class = "rojo"> * </span>
                      <select class="form-select form-select-sm " style="width:auto" name="timezone_id" id="timezone_id">

                             
                                <option value="">-- timezone--</option>

                              {{#each timezones}} 

                                <option value="{{id_timezone}}" {{#if selected}}selected{{/if}}>{{timezone}}</option>
                                
                                 {{/each}}
                     </select>
                           <div class="message" id="timezoneMessage"></div>
                </div>

                <br>
                <br>
                <div class="form-g">

                    <button  class="btn btn-primary" id="btnSave">

                        Guardar
                    </button>

                

                </form>

                <button class="btn btn-primary" id="btnCancel">Cancelar</button>

               



                    <br>
                    <br>
                </div>
           
                    <Span class = "rojo">* </span>
                    <label class="text-secondary" >Campos obligatorios</label>

                    <br>
                    <br>
        </div>
    
     <div class="editIcon">
                     
                    <img src="/img/web.png" class="img-fluid">

     </div>


        </div>


    </div>
<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    console.log("btnSave On Click")
                    e.preventDefault();

                    const account= {

                        nombre: $("#accountName").val(),
                        plan_id:  $("#plan_id").val(),
                        status_id:  $("#status_id").val(),
                        pais_id:  $("#pais_id").val(),
                        timezone_id:  $("#timezone_id").val(),
                        user_id:  $("#user_id").val()
                    }

                    console.log(account)

                    $.post( "/crud/edit/{{cuentas.id}}", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/crud/';

                        }else{
                            
                            $("#nombreMessage").text(data.errors.nombre || "")
                            $("#planMessage").html(data.errors.plan_id || "")
                            $("#statusMessage").html(data.errors.status_id || "")
                            $("#paisMessage").html(data.errors.pais_id || "")
                            $("#timezoneMessage").html(data.errors.timezone_id || "")
                            $("#userMessage").html(data.errors.user_id || "")
                        }
                    });
                
                });

            });


        </script>	



         <script>
           


            $( document ).ready(function() {

                $( "#btnCancel" ).click(function(e) {

                    console.log("btnCancel On Click")
                    e.preventDefault();

                    const account= {

                        nombre: $("#accountName").val(),
                        plan_id:  $("#plan_id").val(),
                        status_id:  $("#status_id").val(),
                        pais_id:  $("#pais_id").val(),
                        timezone_id:  $("#timezone_id").val(),
                        user_id:  $("#user_id").val()
                    }

                    console.log(account)

                    $.post( "/crud/edit/{{cuentas.id}}", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/crud/';

                        }else{
                            
                            $("#nombreMessage").text(data.errors.nombre || "")
                            $("#planMessage").html(data.errors.plan_id || "")
                            $("#statusMessage").html(data.errors.status_id || "")
                            $("#paisMessage").html(data.errors.pais_id || "")
                            $("#timezoneMessage").html(data.errors.timezone_id || "")
                            $("#userMessage").html(data.errors.user_id || "")
                        }
                    });
                
                });

            });


        </script>	

</div>

<footer class="footer modal-footer text-center ">


<label>Atribuciones</label>
<a href="https://www.flaticon.es/iconos-gratis/editar" title="editar iconos">Iconos creados por Pixel perfect - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/inscripcion" title="inscripción iconos">Inscripción iconos creados por Icongeek26 - Flaticon</a>


</footer>
</html>
