<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

    
    
    <div >
    <div >

        <div >
            
            <div >

                <h3>Editar cuenta</h3>

                 <br>
                 <br>

                <form  class = "edit" action= "/crud/edit/{{cuentas.id}}" method="POST">

                <div class="form-g">
                    <br>
                    <label >Nombre de la cuenta:</label>
                    <input type="text" id="accountName" value="{{cuentas.nombre}}" class="text" name="nombre" placeholder="nombre" autofocus>

                    <div class="message" id="nombreMessage"></div>

                </div>

                <br>
                <div class="form-g">
                    <label >Plan contratado:</label>
                    <select name="plan_id" id="plan_id">

                             
                                <option value="">-- Plan contratado--</option>

                              {{#each plan}} 

                                <option value="{{id_plan}}" {{#if selected}}selected{{/if}}>{{plan}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="planMessage"></div>
                </div>
                <br>
                <div class="form-g">

                    <label >Status:</label>
                     <select name="status_id" id="status_id">

                             
                                <option value="">-- Status--</option>

                              {{#each status}} 

                                <option value="{{id}}" {{#if selected}}selected{{/if}}>{{nombre}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="statusMessage"></div>

                </div>
                <br>
                <div class="form-g">
                    <label >País:</label>
                       <select name="pais_id" id="pais_id">

                             
                                <option value="">-- Pais--</option>

                              {{#each pais}} 

                                <option value="{{id}}" {{#if selected}}selected{{/if}}>{{nombre}}</option>
                                
                                 {{/each}}
                     </select>
                <div class="message" id="paisMessage"></div>
                </div>
                 <br>
                <div class="form-g">
                    <label >Zona horaria:</label>
                      <select name="timezone_id" id="timezone_id">

                             
                                <option value="">-- timezone--</option>

                              {{#each timezones}} 

                                <option value="{{id_timezone}}" {{#if selected}}selected{{/if}}>{{timezone}}</option>
                                
                                 {{/each}}
                     </select>
                           <div class="message" id="timezoneMessage"></div>
                </div>

                <br>
                <br>
                <div class="form-g">

                    <button  id="btnSave">

                        Guardar
                    </button>

                

                </form>

                <button type="submit" formaction="./crud">Cancelar</button>
                    <br>
            </div>



        </div>


    </div>
<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    console.log("btnSave On Click")
                    e.preventDefault();

                    const account= {

                        nombre: $("#accountName").val(),
                        plan_id:  $("#plan_id").val(),
                        status_id:  $("#status_id").val(),
                        pais_id:  $("#pais_id").val(),
                        timezone_id:  $("#timezone_id").val(),
                        user_id:  $("#user_id").val()
                    }

                    console.log(account)

                    $.post( "/crud/edit/{{cuentas.id}}", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/crud/';

                        }else{
                            
                            $("#nombreMessage").text(data.errors.nombre || "")
                            $("#planMessage").html(data.errors.plan_id || "")
                            $("#statusMessage").html(data.errors.status_id || "")
                            $("#paisMessage").html(data.errors.pais_id || "")
                            $("#timezoneMessage").html(data.errors.timezone_id || "")
                            $("#userMessage").html(data.errors.user_id || "")
                        }
                    });
                
                });

            });

        

            

        

            

        </script>	

</div>
</html>
