<html>


<head>
<meta charset="UTF-8">
<title>index</title>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>




</script>
<link rel="stylesheet" href="/css/styles.css">



  
</head>

<script type="text/javascript">

function ConfirmDelete(){


    var respuesta= confirm("Seguro?")

    if(respuesta== true)

    {

        return trues;
    }else

    {

        return false
    }
}



</script>

<body >



<div class="datatable">



           
 
 <div class="box01" >

                 <div  class="list">

                <form >
                {{#if user.is_admin}}
                <button  class="btn btn-primary"  type="submit" formaction="/crud/add">Agregar cuenta</button>
                {{/if}}

                 </form>
        
            
             </div>  



 </div>
  
  <br>

    <br>
    
    <div class="table-responsive">


        
        <table id="datatable" class="table table-bordered display nowrap" cellspacing="0" width="100%"  >

            <thead>

      
                

                <tr >
                    
                     <th >Cuenta</th>
                        <th>Plan</th>
                        <th>Fecha de creación</th>
                        
                        <th>Status</th>
                        <th>País</th>
                        <th>Zona horaria</th>
                        <th>Acciones</th>
                    

                </tr>
            </thead>

            <tbody class="tbody">

                {{#each cuentas}}

                <tr >

                    <td>{{nombre}}</td>

                    <td>{{plan_nombre}}</td>


                    <td>{{timeago created_at}}</td>

                    <td>{{status_nombre}}</td>

                    <td>{{pais_nombre}}</td>

                    <td>{{tz}}</td>

                    <td>

                      
                        
                        <a href="/crud/edit/{{id}}" class="btn btn-outline-primary btn-sm">Editar</a>
                         <a href="/crud/show/{{id}} "class="btn btn-outline-primary btn-sm" >Ver </a>
                         <a href="/crud/delete/{{id}}" class="btn btn-outline-danger btn-sm" onclick="return ConfirmDelete()">Borrar</a>
                         
                </tr>

                 {{/each}}

            </tbody>
        
    </table>





        {{#each cuentas}}
        
  
            
        {{else}}
            <div>

                <p>No hay cuentas asociadas a este usuario</p>

            </div>
        {{/each}}


 





            <script>src="https://code.jquery.com/jquery-3.5.1.js"</script>
    <script>src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"</script>
    <script>src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"</script>

    

        <script>

                    $(document).ready(function () {
                
                    $('#datatable').DataTable({
                        
                        "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                    }

                    }


                    );
                });
                    
                    



        </script>  

       </div>

    </body>



        
  
</html>
