<html>


    <head>
    <meta charset="UTF-8">
    <title>index</title>
        <link rel="stylesheet" href="/css/styles.css">




        <script type="text/javascript"
          src="https://code.jquery.com/jquery-3.5.1.js">
  </script>
  

  <!-- DataTables CSS -->
  <link rel="stylesheet"
        href=
"https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
  
  <!-- DataTables JS -->
  <script src=
"https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
  </script>
    </head>


<body>

    <div class="btnPDF">
            <input 
                class="btn btn-secondary"
                type="submit" 
                id="btn-generar" 
                value="Generar PDF"
                onclick="generarPDF(event)">
    </div>

<div class="box2">

 <div class="tblaCta">
    
        

        <table class="table" id="tablecta" >

            <thead>

      
                </tr>

                <tr>
                    
                     <th>Datos de la Cuenta</th>
                        

                </tr>
            </thead>

            <tbody>

                
                     <th>Id de cuenta</th>

                    <td>{{cuenta.id}}</td>

                </tr>

                <tr>

                     <th>Nombre de cuenta</th>

                    <td>{{cuenta.nombre}}</td>

                </tr>


                        <tr>

                            <th>Status</th>

                            <td>{{cuenta.status_nombre}}</td>

                        </tr>


                      <tr>

                            <th>País</th>

                            <td>{{cuenta.pais_nombre}}</td>

                        </tr>

                         <tr>

                            <th>Timezone</th>

                            <td>{{cuenta.tz}}</td>

                        </tr>
                   

                

                    </td>
                </tr>

                
            </tbody>
        </table>

    
 </div> 
    
{{!-- {{tabla plan contratado}} --}}


<div class="tblaPlan" >

         <table class="table" id="planCdo" >

            <thead>

      
                </tr>

                <tr>
                    
                     <th>Plan contratado</th>
                        

                </tr>
            </thead>

            <tbody>

                

                <tr>

                     <th>Vehículos</th>

                    <td>{{nVehiculos.total}}</td>

                </tr>


                        <tr>

                            <th>Usuarios de la cuenta</th>

                            <td>{{usuariosTotal.total}}</td>

                        </tr>


                      <tr>

                            <th>Conductores</th>

                            <td>{{conductoresTotal.total}}</td>

                        </tr>

                         <tr>

                            <th>Plan</th>

                            <td>{{cuenta.descripcion}}</td>

                        </tr>
                   

              
                </tr>

                
            </tbody>
        </table>

    </div>
  

    <br>

    <br>
    
    </div>

    <div class="row">
        

   
 </div >

</div> 

 {{#if usuarios}}
  
{{!-- {{Tabla de usuarios}} --}}

<div  class="divUList table-responsive">

        <table id="tableID" class="table" >

            <thead>

      
                
                    <th>Usuarios de la cuenta</th>
                <tr>
                    
                        <th >Role</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Timezone</th>
                        
                       
                        
                    

                </tr>
            </thead>
            

            <tbody> 
                 
                 {{#each usuarios}}
                
                <tr>
                    

                    <td>{{rl}}</td>

                    <td>{{nombre}}</td>


                    <td>{{email}}</td>

                    <td>{{tz}}</td>

                   

                    

                    
                </tr>

                {{/each}}
            </tbody>

        </table>

   



  
        {{else}}


            <div  class="CeroUser">

            

                    <p>**No hay usuarios asociados a esta cuenta**</p>

            </div>
        
                

                
            
        {{/if}}

</div>           


{{!-- {{Tabla de vehiculos}} --}}



 {{#if vehiculos}}
  
{{!-- {{Tabla de usuarios}} --}}

<div  class="divUsuarios table-responsive">

        <table class="table">

            <thead>

      
                
                     <th>Vehículos asociados a esta cuenta</th>
                <tr>
                    
                        <th >Vehículo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                        <th>Color</th>
                        <th>Status</th>
                        
                       
                        
                    

                </tr>
            </thead>
            

            <tbody> 
                 
                 {{#each vehiculos}}
                
                <tr>
                    

                     <td>{{nombreV}}</td>

                    <td>{{brand}}</td>


                    <td>{{modelo}}</td>

                    <td>{{year}}</td>

                    <td>{{color}}</td>

                    <td>{{vhls}}</td>

                   

                    

                    
                </tr>

                {{/each}}
            </tbody>

        </table>

   



  
        {{else}}


            <div  class="CeroUser">

            

                    <p>**No hay vehículos asociados a esta cuenta**</p>

            </div>
        
                

                
            
        {{/if}}


{{!-- 
         <script>
  
   
    $(document).ready(function () {
      $('#tableID').DataTable({
   
        scrollY: "160px",
        paging: false,

        columnDefs: [
            { "width": "100px", "targets": [0] }
        ]
   
      });

      
    });
     
  </script> --}}

</div>           



</body> 

 </html>
