<html>


<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>


  <div >

  

</div>

 <div style=" position:absolute; left:930px;">

  <table class="table">

            <thead>

      
                </tr>

                <tr>
                    
                     <th>Datos de la Cuenta</th>
                        

                </tr>
            </thead>

            <tbody>

                
                     <th>Id de cuenta</th>

                    <td>{{cuenta.id}}</td>

                </tr>

                <tr>

                     <th>Nombre de cuenta</th>

                    <td>{{cuenta.nombre}}</td>

                </tr>


                        <tr>

                            <th>Status</th>

                            <td>{{cuenta.status_nombre}}</td>

                        </tr>


                      <tr>

                            <th>País</th>

                            <td>{{cuenta.pais_nombre}}</td>

                        </tr>

                         <tr>

                            <th>Timezone</th>

                            <td>{{cuenta.tz}}</td>

                        </tr>
                   

                

                    <td>

                     {{#if user.is_admin}}
                        
                       

                          {{/if}}
                         
                    </td>
                </tr>

                
            </tbody>
        </table>

    </div>
  
    
{{!-- {{tabla plan contratado}} --}}


<div style=" position:absolute; left:500px;">

         <table class="table">

            <thead>

      
                </tr>

                <tr>
                    
                     <th>Plan contratado</th>
                        

                </tr>
            </thead>

            <tbody>

                

                <tr>

                     <th>Vehículos</th>

                    <td>{{nVehiculos.total}}</td>

                </tr>


                        <tr>

                            <th>Usuarios de la cuenta</th>

                            <td>{{usuariosTotal.total}}</td>

                        </tr>


                      <tr>

                            <th>Conductores</th>

                            <td>{{cpais}}</td>

                        </tr>

                         <tr>

                            <th>Usuarios de inventario</th>

                            <td>{{timezone}}</td>

                        </tr>
                   

                

                    <td> 

                      
                        <a href="/crud/edituser/{{user}}">Editar</a>
                         
                         
                    </td>
                </tr>

                
            </tbody>
        </table>

    
  

    <br>

    <br>
    
    </div>

    <div class="row">
        
     {{#if usuarios}}



     {{!-- {{Tabla de usuarios}} --}}

<div  style="  margin-top: 300px;">
        <table class="table">

            <thead>

      
                
                    <th>Usuarios de la cuenta</th>
                <tr>
                    
                     <th>Role</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Timezone</th>
                        <th>Deleted at</th>
                        <th>Acciones</th>
                        
                    

                </tr>
            </thead>
            

            <tbody> 
                 
                 {{#each usuarios}}
                
                <tr>
                    

                    <td>{{rl}}</td>

                    <td>{{nombre}}</td>


                    <td>{{email}}</td>

                    <td>{{tz}}</td>

                    <td>{{acciones}}</td>

                    

                    <td>

                         <a href="/user/{{usuario_id}}/edit">Editar</a>

                     {{!-- {{<a href="/crud/resetPass/{{../user.id}}">Editar usuario</a>}} --}}   

                        
                         
                    </td>
                </tr>

                {{/each}}
            </tbody>

        </table>

   
 </div>


  
        {{else}}


<div  style=" position:center; margin-top: 300px">

 

        <p>No hay usuarios asociados a esta cuenta</p>

</div>
        
                
               

                
            
        {{/if}}



{{!-- {{Tabla de vehiculos}} --}}

<div  style="  margin-top: 40px;">
        <table class="table">

            <thead>

      
                
                    <th>Vehículos asociados a esta cuenta</th>
                <tr>
                    
                     <th>Vehículo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                        <th>Color</th>
                        <th>Status</th>
                        
                    

                </tr>
            </thead>


  <tbody> 
                 
                 {{#each vehiculos}}
                
                <tr>
                    

                    <td>{{nombreV}}</td>

                    <td>{{brand}}</td>


                    <td>{{modelo}}</td>

                    <td>{{year}}</td>

                    <td>{{color}}</td>

                    <td>{{vhls}}</td>

                    

                    <td>

                        <a href="/crud/delete/{{id}}">Borrar</a>
                         <a href="/crud/edit/{{id}}">Editar</a>
                         <a href="/crud/show/{{id}}">Ver </a>

                        
                         
                    </td>
                </tr>

                {{/each}}
            </tbody>




    </div>

    

    </html>
