<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">

    <style>
body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  
}
</style>
</head>


<div class="add">
    

        
            <div class="formularioU">
         
              
                <form action= "/crud/usuarios" method="POST" id="FormUsuario">
                
                          <br>
                <label style="font-size: 20px; color: rgb(27, 73, 240);" >Agregar un nuevo usuario de cuenta</label>
                 <br>
                 <br>
                 <div class="row">
                
                     <label >Nombre de usuario: <Span class = "rojo"> * </span></label>
                    
                    <input type="text"  style="width:450px" class=" border rounded" name="nombre" id="userName" placeholder="Ingresa tu nombre de usuario..." autofocus>
                    <br>
                     <div class="message" id="nombreMessage"></div>

                <br>
                <br>
            
                </div>

                <div class="row">
                <div class="col">
                    <label >Role: <Span class = "rojo"> * </span></label>

                     <select class=" form-select form-select-sm " style="width:auto"  name="rol_id" id="rol_id">

                            <option value="">-- Roles--</option>

                            {{#each roles}} 

                                
                                <option value="{{id_rol}}">{{rol}}</option>
                          
                            {{/each}}

                     </select>
                    
                      
                
                          <div class="message" id="rolMessage"></div>
                </div>
                   
                <br>
                <br>
                <div class="col" >

                    <label >email: <Span class = "rojo"> * </span></label>
                    <br>
                    <input type="email" class=" border rounded"  name="email" id="email_id" placeholder="email" autofocus>
                    <div class="message" id="emailMessage"></div>
             </div>
             </div>
                <br>
                <br>
                <div class="row">
                <div class="col">

                    <label >Zona horaria: <Span class = "rojo"> * </span></label>
                    
                       <select class=" form-select form-select-sm " style="width:auto"  name="timezone" id="timezone_id">

                            <option value="">-- Zona horaria--</option>

                            {{#each timezones}} 

                                
                                <option value="{{id_timezone}}">{{timezone}}</option>
                          
                            {{/each}}

                     </select>
                     
                          <div class="message" id="timezoneMessage"></div>
                      

                </div>
                 <br>
                 <br>
              
                <div class="col">

                    <label >Cuenta: <Span class = "rojo"> * </span></label>

                          <select class="form-select form-select-sm " style="width:auto" name="Cuenta_id" id="cuenta_id">

                            <option value="">-- Cuentas--</option>

                            {{#each cuentas}} 

                                
                                <option value="{{id}}">{{nombre}}</option>
                          
                            {{/each}}
                     </select>  
                    <div class="message" id="cuentaMessage"></div>
                
                </div>
                <br>
                <br>
                <div>
                      <br>

                    <label >Usuario:{{user.username}}</label>
                    <br>
                    <input type="text" class=" border rounded"  name="user_id" id="user_id" value="{{user.id}}" readonly>
                      <div class="message" id="usuarioMessage"></div>
                </div>

                </form>
                <br>
                </div>

                <br>
                    <div class="form-g">

                    <button  class="btn btn-primary" id="btnSave">

                        Guardar
                    </button>

                

                

                <button class="btn btn-primary" id="btnCancel">Cancelar</button>

               



                    <br>
                    <br>
                </div>
           
                    <Span class = "rojo">* </span>
                    <label class="text-secondary" >Campos obligatorios</label>

                    <br>
                    <br>
     
            </div>
     
  

              
<div class="imgUser">

                    <img src="/img/nvoUser2.png" class="img-fluid">

</div>
           

</div>

        


    

<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        
     {{!-- botón Aceptar --}}   
        <script>
           
            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    e.preventDefault();
                     
        
                    const account= {

                        nombre: $("#userName").val(),                       
                        rol_id:  $("#rol_id").val(),
                        email:  $("#email_id").val()  ,
                        timezone:  $("#timezone_id").val(),
                        cuenta_id:  $("#cuenta_id").val(),
                        user_id:  $("#user_id").val()
                    }
                    


                        
                    

                        
                    console.log(account)
                    $.post( "/crud/usuarios", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/user/showUser/';

                        }else{
                            
                            $("#nombreMessage").text(data.errors.nombre || "" )
                            $("#rolMessage").html(data.errors.rol_id || "")
                            $("#emailMessage").html(data.errors.email || "")
                            $("#timezoneMessage").html(data.errors.timezone || "")
                            $("#cuentaMessage").html(data.errors.cuenta_id || "")
                             $("#usuarioMessage").html(data.errors.user_id || "")
                            
                        }
                    });
                
                });

            });

        

        </script>	

{{!-- botón cancelar --}}
         <script>
           
            $( document ).ready(function() {

                $( "#btnCancel" ).click(function(e) {

                    e.preventDefault();
                     
        
                   window.location.href = '/profile';
                
                });

            });

             

        </script>	
</div>
</html>




