<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>


<div class="edit">
    <div >

        <div >
            
            <div >

                 <h4>Editar usuario</h4>

             </div> 
      
                <form class="user"   method="POST" id="FormUsuario">

                  <div >
                    <br>
                    <br>
                   
                <div >
                    <br>
                    <br>
                     <label >Nombre de usuario:</label>
                    <input type="text" class="text" name="nombre" id="userName" value="{{usuario.nombre}}" placeholder="nombre" autofocus>
                    <div id="nombreMessage" class="message"></div>
                </div>
                <br>
                <br>
                <div >
                    <label >Role:</label>

                     <select name="rol_id" id="rol_id">

                            <option value="">-- Roles--</option>

                            {{#each roles}} 

                                
                                <option value="{{id_rol}}" {{#if selected}}selected{{/if}}>{{rol}}</option>
                          
                            {{/each}}

                     </select>

                          <div id="rolMessage" class="message"></div>
                </div>
                <br>
                <br>
                <div >

                    <label >email:</label>
                    <input type="email" class="text1" name="email" id="email_id" value="{{usuario.email}}" placeholder="email" autofocus>

                    <div id="emailMessage" class="message"></div>
             </div>
                <br>
                <br>
                <div>
                    <label >Zona horaria:</label>
                    
                       <select name="timezone" id="timezone_id">

                            <option value="">-- Zona horaria--</option>

                            {{#each timezones}} 

                                
                                <option value="{{id_timezone}}" {{#if selected}}selected{{/if}}>{{timezone}}</option>
                          
                            {{/each}}

                     </select>
                          <div id="timezoneMessage" class="message"></div>
                      

                </div>
                 <br>
                 <br>

                <div >

                    <button type="submit"  class="btn btn-primary"  id="btnSave">

                        Guardar
                    </button>
                    <br>
                    <br>
                </div>

                </form>

              

          



        </div>


    </div>

<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    e.preventDefault();

                    const account= {

                        nombre: $("#userName").val(),
                        rol_id:  $("#rol_id").val(),
                        email:  $("#email_id").val(), 
                        timezone_id:  $("#timezone_id").val(),
                        
                    }

                    console.log(account)
                    $.post( "/user/{{usuario.usuario_id}}/edit", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/crud';

                        }else{
                            
                            $("#nombreMessage").text(data.errors.nombre || "")
                            $("#rolMessage").html(data.errors.rol_id || "")
                            $("#emailMessage").html(data.errors.email|| "")
                            $("#timezoneMessage").html(data.errors.timezone_id|| "")
                            
                            
                        }
                    });
                
                });

            });

        

            

        

            

        </script>	
</div>
</html>




